@import '~bootstrap/scss/bootstrap';

.container {
  padding-top: 20px;
}

.posts {
  margin-left: -40px;

  li {
    list-style: none;
  }
}

.people-list-btn {
  float: right;
  margin-right: 10px;
}

.people {
  li {
    list-style: none;
  }
}

#add-friend {
  float: right;
  margin-right: 10px;
}

#unfriend {
  float: right;
  margin-right: 10px;
}

.timestamp {
  color: lightgray;
  // display: block;
  // margin-left: 60px;
  font-size: small;
}

.no-list {
  list-style: none;
}

.comments-div {
  font-size: small;
}

.comment-content {
  margin-left: 35px;
}