<% @posts.each do |post| %>
  <ul class="posts">
    <li>
      <%= post.content %>
      <br>
      <span class="timestamp">
        Posted <%= time_ago_in_words(post.created_at) %> ago.
      </span>
      <span>
        <%= link_to "Delete", post_path(post), method: :delete, class: "btn-sm btn-danger people-list-btn" if post.user == current_user %>
      </span>
    </li>
    <hr>
  </ul>
<% end %>
