<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "What's in your mind?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
