<% @friendships.each do |friendship| %>
  <div class="people">
    <ul>
      <li>
        <%= friendship.friend.name %>
        <%= link_to 'Unfriend', friendship_path(friendship), class: "btn-sm btn-danger people-list-btn", method: :delete %>
        <hr>
      </li>
    </ul>
  </div>
<% end %>
